{% extends 'core/base.html' %}

{% load static %}

{% block title %} Contacto {% endblock title %}

{% block content %}

    <p>Esta es la seccion de contacto.</p>
    
    {% if form.errors %}
    
    <p>Alguno de los datos que ingresaste es incorrecto</p>
    
    {% endif %}

    <form action="" method="POST"> {% csrf_token %}

        <table>

            {{form.as_table}}

        </table>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <br>
    <div class="d-flex">
        <a href="{% url 'index' %}" class="text-uppercase custom_orange-btn mr-3">
          Volver Atras
        </a>
    </div>
    <br>

{% endblock content %}